<h1>Stupid Coaching</h1>

<div class="container-answer">
  <p><%= @answer %> </p>
  <p><%= "-You" %> </p>
</div>

<div class="container-answer coach">
  <%if @answer == "I am going to work"%>
  <p><strong><%= "Great!" %> </strong></p>
  <%elsif @answer.include? "?"%>
  <p><strong><%= "Silly question, get dressed and go to work!" %> </strong></p>
  <%else%>
  <p><strong><%= "I dont care, get dressed and go to work!" %> </strong></p>
  <%end%>
  <p><%= "-Your Coach" %> </p>
</div>

<%= link_to "Ask another question", ask_path %>
